
$textcolor: rgb(30, 151, 179);

$size: 2rem;

$primary-color: orange;

$secondary-color: lightblue;

$font-weights: (

    "regular":400,

    "medium":500,

    "bold":700

);

 

$colors: (

    "first": yellow,

    "second": green,

    "third": purple

);

 
$tjorrtjorr: 2rem;
$strong-color: red;

$accent: yellow;
