.container {
  font-size: 2rem;
  color: black;
  background-color: dodgerblue;
  #{&}__para1 {
    font-size: 4rem;
    color: red;
    background-color: coral;
  }
  &__para2--green {
    color: green;
  }
}