* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.navbar { /* Diven */
  display: grid;
  grid-template-areas: 
    "Andreas space space space hem portfolio kontakt"
  ;
  background-color: white;
  height: 5rem;
}

.navbar-main { /* paragrapherna */
  display: grid;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  color: grey;
  margin-right: 100px;
  text-decoration: none;
}

.navbar-main:hover { /* navbar hover style */
  color: #d92cf9;
}

.navbar-main:nth-child(1) {  /* navbar Andreas åt vänster länken */
  grid-area: Andreas;
  margin-left: 100px;
  font-size: 1.5rem;
  color: #d92cf9;
}


.navbar-main:nth-child(2) { /* navbar hem kn länk */
  grid-area: hem;
}

.navbar-main:nth-child(3) { /* navbar portfolio länk */
  grid-area: portfolio;
}

.navbar-main:nth-child(4) { /*navbar kontakt länk */
  grid-area: kontakt;
}

.sektion1 { /* Första bild & text på sidan */
  margin-left: auto;
  margin-right: auto;
  color: white;
  line-height: 2;
  padding-bottom: 20rem;
  padding-top: 20rem;
  background-image: url(../img/vimal.jpg);
  background-size: 100% 100%;
}

img {
  width: 600px;
}


.container:hover {
  color: #671f5a;
}

.h1-container1 {
  font-size: 54px;
  font-weight: 700;
}

.p-container1 {
  font-size: 20px;
  font-weight: 300;
}

.sektion1 p span {
  color: #d92cf9;
}

.sektion2 {
  padding-top: 20rem;
  padding-bottom: 20rem;
  background-color: orange;
}